services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - MONGODB_URI=mongodb://db:27017
      - GEMINI_API_KEY=AIzaSyDs86oW7_-UnGPjgFDwshHqM01bH9n2II4
      - GEMINI_MODEL=gemini-2.5-flash

volumes:
  mongo-data:
